*~
ebook/_book
go/pkg/*
go/bin/*
go/test/bench/shootout/*
go/doc/articles/wiki/get.bin
go/src/cmd/6l/enam.c
go/src/cmd/gc/opnames.h
go/src/pkg/runtime/zasm_darwin_amd64.h
go/src/pkg/runtime/zgoarch_amd64.go
go/src/pkg/runtime/zgoos_darwin.go
go/src/pkg/runtime/zmalloc_darwin_amd64.c
go/src/pkg/runtime/zmprof_darwin_amd64.c
go/src/pkg/runtime/znetpoll_darwin_amd64.c
go/src/pkg/runtime/zruntime1_darwin_amd64.c
go/src/pkg/runtime/zruntime_defs_darwin_amd64.go
go/src/pkg/runtime/zsema_darwin_amd64.c
go/src/pkg/runtime/zsigqueue_darwin_amd64.c
go/src/pkg/runtime/zstring_darwin_amd64.c
go/src/pkg/runtime/ztime_darwin_amd64.c
go/src/pkg/runtime/zversion.go
*.html
